.total-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1e293b;
  height: 100vh;
}

.heading {
  font-family: 'Bree Serif';
  font-size: 65px;
  margin-bottom: 20px;
  color: #f0bb03;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 100px;
  }
}

.description {
  font-family: 'Bree Serif';
  font-size: 25px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .description {
    font-size: 35px;
  }
}

.subscribe-button {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 15px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border: none;
}

@media screen and (min-width: 768px) {
  .subscribe-button {
    font-size: 20px;
  }
}
